mixin menuItem(title, icons, href = '#')
  li.menu-item
    a(href= href).menu-link
      span.menu-icon
        if icons 
          case icons 
            when 'icon-home'
              include ../icons/_icon-home
            when 'icon-trending'
              include ../icons/_icon-trending
            when 'icon-cube'
              include ../icons/_icon-cube
            when 'icon-play'
              include ../icons/_icon-play
            when 'icon-subscription'
              include ../icons/_icon-subscription
            when 'icon-discovery'
              include ../icons/_icon-discovery
            when 'icon-mic'
              include ../icons/_icon-mic
            when 'icon-user'
              include ../icons/_icon-user
            when 'icon-adduser'
              include ../icons/_icon-adduser
            when 'icon-star'
              include ../icons/_icon-star
      span.menu-text= title
    
mixin toggle()
  label.toggle
    input(type="checkbox",name='')
    .toggle-main 
      .toggle-spinner 

mixin feedItem(name,day,status,podcast,title,desc,imgAvatar,img)
  .feed-author 
    .feed-avatar
      img(srcSet=`${imgAvatar} 2x`, alt="Author")
      span.feed-tick 
        include ../icons/_icon-verify
    .feed-info
      .feed-rated
        h3.feed-name= name
        span.feed-rating= status
          include ../icons/_icon-magicstar
      p.feed-date= day 
    span.feed-icon
      include ../icons/_icon-more
  .feed-podcast 
    .feed-image
      img(srcSet=`${img} 2x`, alt="Podcast")
    .feed-podcast-content 
      span.feed-podcast-heading= podcast
      h3.feed-podcast-title= title
      .feed-podcast-time 
        .feed-podcast-day
          include ../icons/_icon-time
          span 11 dayes ago
        .feed-podcast-timer 
          include ../icons/_icon-timer
          span 45 mins 10 Sec
      p.feed-podcast-desc= desc
  .feed-bottom 
    .feed-share 
      include ../icons/_icon-heart
      include ../icons/_icon-feedstar
      include ../icons/_icon-musicplay
    button.button.button-primary.feed-button
      include ../icons/_icon-play
      span Play Episode


mixin followItem(img,name,capsion,checked)
  .follow-content
    .follow-author 
      .follow-avatar 
        img(srcSet=`${img} 2x`, alt="Avatar")
      .follow-info 
        span.follow-name= name
        span.follow-capsion= capsion
    if checked 
      button.button.button-primary.follow-button.followed Followed
    else 
      button.button.button-primary.follow-button Follow

mixin historyItem(img,status,title,listen,like)
  .history-content 
    .history-image
      img(srcSet=`${img} 2x`, alt="History")
    .history-info 
      span.history-status= status
      span.history-title= title
      .history-following 
        .history-listen 
          include ../icons/_icon-play-small
          span= listen
        .history-like 
          include ../icons/_icon-heart-small
          span= like

mixin topicItem(img,title,member)
  .topic-box
    .topic-overlay 
    img(srcSet=`${img} 2x`, alt="Topic").topic-img
    span.topic-title= title
    span.topic-member= member